{% extends "layouts/base.html" %}


{% block title %}
{% for g_info in guild %}
Categories for {{g_info['name']}}: {{session['user']['username'] }}
{% endfor %}
{% endblock %}

{% block app_content %}
{% for g_info in guild %}
<div class="container-fluid">
        <div class="row">
            <h2>
                Channel Categories for {{guild[g_info]['name']}} <img
                src="{{guild[g_info]['icon']}}" width="64px" class="img-circle" />
            </h2>  
        </div>
        <div>
            <table class="table discord-dark-col">
                <thead>
                    <tr>
                        <!-- <th scope="col">ID</th> -->
                        <th scope="col">Name</th>
                        <th scope="col">Enabled</th>
                        <th scope="col">Prefix</th>
                    </tr>
                </thead>
                <tbody>
                {% for cat in categories %}
                    <tr>
                        <!-- <th scope="row">{{cat}}</th> -->
                        <td>{{categories[cat]['name']}}</td>
                        <td><input type="checkbox" class='toggle' checked data-toggle="toggle"></td>
                        <td>AC!</td>
                    </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block scripts %}
{{super()}}
<script>
    $(document).ready(function() {
        $('.toggle').click(function() {
            var current_status = $('.status').text();
            if (current_status === 'Untoggled'){
                $('.status').html('Toggled');
            }
            else{
                $('.status').html('Untoggled');
            }

        });
    });
</script>
{% endblock %}