{% extends "layouts/base.html" %}

{% block title %}
AutoChannel - Index
{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <div class="row align-items-center h-100">
        <div class="d-flex justify-content-center col-md-12 mx-auto" style="border-bottom:2px solid #6d7fcc"  >
            <div>
                <h2>
                   Welcome to AutoChannel
                </h2>  
            </div>
        </div>  
    </div>
    <div class="row h-100">
        <div class="col-md-6 mx-auto">
            <h4>
                What is AutoChannel?
            </h4>
            <p>
                AutoChannel is desinged to make managing voice channels much
                easier. This allows Admins/High ranking moderators to manage
                which categories are enabled to have voice channels popualated.
            </p>
            <p>
                This is done by enabling autochannel for a specified category
                and setting unique "prefix". The prefix by default will use
                "AC!". It is recommended that the prefix never overlap none
                AutoChannels as the bot will think those channels also belong to
                it. 
            </p>
            <p>
                Currently AutoChannel bot will always keep 1 empty channel free.
                This means it will scale up and down if you join an auto
                generated channel in an enabled category
            </p>
        </div>
        <div class="col-md-6 mx-auto">
            <h4>
                How to use?
            </h4>
            <ol>
                <li>Login on left navigation panel</li>
                <li>select a guild (discord lingo or "server")</li>
                <li>Accept/add bot to your "guild"</li>
                <li>click the dashboard link</li>
                <li>Toggle the categories you want enabled</li>
                <li>Updated the prefixes and click the apply Checkmark only for
                updating prefixes</li>
                <li>in your sever as an admin run !acupdate</li>
            </ol>
        </div>
    </div>
    <div class="row h-100">
        <div class="col-md4 mx-auto">
            <img width="768px" src="{{url_for('static',
            filename='img/autochannel-instructions-2.gif')}}" >
        </div>
    </div>
</div>
{% endblock %}