{% extends "layouts/base.html" %}

{% block title %}
AutoChannel - Index
{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <div class="row align-items-center h-100">
        <div class="d-flex justify-content-center col-md-12 mx-auto" style="border-bottom:2px solid #6d7fcc"  >
            <div>
                <h2>
                   Welcome to AutoChannel
                </h2>  
            </div>
        </div>  
    </div>
    <div class="row h-100">
        <div class="col-md-6 mx-auto">
            <h4>
                Work in progress
            </h4>
            <p>
                This is the first release of Autochannels frontend ui. Will be
                updating when time is avaliable
            </p>
        </div>
        <div class="col-md-6 mx-auto">
            <h4>
                How to use?
            </h4>
            <p>
                insert instructions...
            </p>
        </div>
    </div>
</div>
{% endblock %}