{% extends "layouts/base.html" %}

{% block title %}
AutoChannel - Index
{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <div class="row align-items-center h-100">
        <div class="d-flex justify-content-center col-md-12 mx-auto" style="border-bottom:2px solid #6d7fcc"  >
            <div>
                <h2>
                   Welcome to AutoChannel
                </h2>  
            </div>
        </div>  
    </div>
    <div class="row h-100">
        <div class="col-md-12 mx-auto">
            <h4>
                What is AutoChannel?
            </h4>
            <p>
                AutoChannel is desinged to make managing voice channels much
                easier. This allows Admins/High ranking moderators to manage
                which categories are enabled to have voice channels popualated.
            </p>
            <p>
                This is done by enabling autochannel for a specified category
                and setting unique "prefix". The prefix by default will use
                "AC!". It is recommended that the prefix never overlap none of
                the static channels you created. If the prefix of your manually
                created channels are the same as your static/hand crafted
                channels, then the bot will act as they are part of its
                automation. 
            </p>
            <p>
                Currently AutoChannel bot will always keep 1 empty channel free.
                This means it will scale up and down if you join an auto
                generated channel in an enabled category
            </p>
        </div>
        {% include 'includes/instructions.html' %}
</div>
{% endblock %}