<!-- Footer-->
<div class="row d-flex flex-nowrap justify-content-center mx-auto pb-0 navbar fixed-bo">
    <div class="py-1">
        <div class="">
            <div class="row">
                <div class="col-lg-4 mb-4 mb-lg-0">
                    <h6>Need Help?</h6>
                    <ul class="contact-info list-unstyled">
                        <li><i class="fab fa-discord"></i><a
                        href="https://discord.gg/cegkRpz"
                        class="text-light"> Discord</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h6>Want to contribute?</h6>
                    <p class="text-muted" > What to contribute? Jump on discord!</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h6>Favorite Bots!</h6>
                    <ul class="links list-unstyled">
                        <li> <i class="fas fa-robot"></i> <a href="https://discordapp.com/oauth2/authorize?client_id=495481763821256705&scope=bot" class="text-muted">Tamago</a></li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>